/mosquitto/etc/ca_certificates/
/mosquitto/etc/certs/
/mosquitto/etc/passwd
/mosquitto-client/ca_certificates/
/mosquitto-client/certs/
/home-assistant/etc/home-assistant.log
/home-assistant/etc/home-assistant_v2.db
/home-assistant/etc/secrets.yaml
